@media (min-width: 922px) {
	.hamburger--active {
		transform: translatex(50em);
	}

	.navigation {
		&__list {
			&-item {
				margin-bottom: 7.5em;
				a {
					font-size: 3.75rem;
				}
			}
		}
	}
	.contact__box {
		height: 50em;
		width: 50em;
		right: 20px;

		&-tittle {
			margin-bottom: 2em;
			color: rgb(214, 22, 64);
			font-size: 3rem;
		}

		&-phone {
			font-size: 3rem;
			margin-bottom: 3em;
		}
		&-email {
			font-size: 3rem;
			margin-bottom: 1.2em;
		}
	}
}

@media (min-width: 1024px) {
	.header {
		.hero-text {
			h1 {
				font-size: 4rem;
				text-transform: uppercase;
				margin-bottom: 0.5em;
			}
			p {
				font-size: 2.2rem;
			}
		}
	}
	// main
	.section-title {
		padding-top: 8rem;
		font-size: 4rem;
	}
	// o nas

	.aboudus {
		height: 100vh;
		// background-color: #bd4f6c8c;
		// background-image: linear-gradient(326deg, #bd4f6c8e 0%, #d7826a7a 74%);

		// padding-top: 7rem;
		.aboudus-bgc {
			border-radius: 15px;
			// background-color: rgba(255, 255, 255, 0.432);
		}
		&__box {
			font-size: 2rem;
		}
		&__box2 {
			&-tittle {
				font-size: 2.5rem;
			}
			&-card1 {
				&-img1 {
					height: 10em;
				}
			}
			&-card2 {
				&-img2 {
					height: 10em;
				}
			}
		}
		&__cardbox {
			margin-top: 6em;
			&-card {
				&-tittle {
					font-size: 2.3rem;
				}

				&-text {
					font-size: 2rem;
				}

				.fas {
					font-size: 2.3rem;
				}
			}
		}
		&__photobox {
			&-photo {
				img {
					width: 50%;
					height: 100%;
					border-radius: 50%;
				}
			}
			&-tittle {
				font-size: 1.75rem;

				.name {
					font-size: 2.3rem;
				}
			}
		}
	}

	// home
	.header {
		.hero-img {
			background-image: url("../img/headingduza.jpg");
		}
	}
}
@media (min-width: 1200px) {
	.hamburger {
		display: none;
	}
	.navigation {
		display: none;
	}
	.nav__desktop {
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		position: fixed;
		display: flex;
		justify-content: flex-end;
		width: 100%;
		height: 7em;
		z-index: 100;
		transition: background-color 0.7s;

		// background-color: rgb(180, 22, 22);
		&-item {
			height: 100%;
			margin: 0.4em;
			font-size: 2rem;
			text-decoration: none;
			color: #ffffff;
			margin-top: 0.5em;
			padding: 0.5em;
			&:last-child {
				margin-right: 1em;
			}

			&:hover {
				color: rgb(170, 170, 170);
			}
		}
	}
	.logo {
		position: absolute;
		z-index: 1;
		left: 1em;
		top: 50%;
		font-size: 4rem;
		transform: translateY(-50%);
		margin-bottom: 0.5em;

		.fa-bowling-ball {
			color: #f5f0f0;
			padding: 0.5em;
		}
		.fa-bowling-ball:hover {
			color: #333;
		}
	}

	.show-bgc {
		background-color: #e0455f;
		background-image: linear-gradient(147deg, #ca2c2c 0%, #44000b 74%);
	}

	.logo {
		left: 1.2em;
	}

	.aboudus {
		&__box {
			font-size: 2.1rem;
		}
		&__box2 {
			&-tittle {
				font-size: 2rem;
			}
		}

		&__cardbox {
			&-card {
				&-tittle {
					color: rgb(214, 22, 64);
					font-size: 2.2rem;
					margin-bottom: 0.7em;
				}

				&-text {
					font-size: 2rem;
					margin-bottom: 0.7em;
				}

				.fas {
					font-size: 2.5rem;
					margin-bottom: 0.7em;
				}
			}
		}
		.team {
			font-size: 3.2rem;
		}

		&__photobox {
			&-photo {
				img {
					width: 50%;
					height: 100%;
					border-radius: 50%;
				}
			}
			&-tittle {
				.name {
					font-size: 2.5rem;
				}
			}
		}
	}
	.contact__box {
		bottom: 20px;
		right: 150px;
	}
	.contact-button {
		position: fixed;
		right: 50px;

		i {
			position: relative;
			font-size: 8rem;
			color: rgb(214, 22, 64);
		}
	}
	.show {
		transform: translate(0) scale(1);
	}
}

@media (min-width: 1361px) {
	.nav__desktop {
		justify-content: center;
		align-content: center;
		height: 6em;
		&-item {
			height: 100%;
			font-size: 2rem;
			margin: 0.5em;
			padding: 0.5em;
			text-decoration: none;
			color: #f5f0f0;

			margin-top: 0.5em;
		}
		.logo {
			position: relative;
			z-index: 1;
			left: 0;
			top: 0.3em;

			margin-right: 2em;
			font-size: 4rem;

			i {
				color: #f5f0f0;
				padding: 0.5em;
			}
		}
	}

	// main
	.section-title {
		padding-top: 8rem;
		font-size: 5.5rem;
	}

	.aboudus {
		&__box {
			font-size: 2.2rem;
		}
		&__box2 {
			&-tittle {
				font-size: 2.4rem;
			}
		}

		&__cardbox {
			&-card {
				&-tittle {
					color: rgb(214, 22, 64);
					font-size: 2.3rem;
					margin-bottom: 0.7em;
				}

				&-text {
					font-size: 2rem;
					margin-bottom: 0.7em;
				}

				.fas {
					font-size: 2.6rem;
					margin-bottom: 0.7em;
				}
			}
		}
	}
}
