@media (min-width: 922px) {
	.hamburger--active {
		transform: translatex(50em);
	}

	.navigation {
		&__list {
			&-item {
				margin-bottom: 7.5em;
				a {
					font-size: 2rem;
				}
			}
		}
	}
	.contact__box {
		height: 50em;
		width: 50em;
		right: 20px;

		&-tittle {
			margin-bottom: 2em;
			color: #ec0b43;
			font-size: 3rem;
		}

		&-phone {
			font-size: 3rem;
			margin-bottom: 3em;
		}
		&-email {
			font-size: 3rem;
			margin-bottom: 1.2em;
		}
	}
}

@media (min-width: 1024px) {
	.hamburger {
		display: none;
	}
	.navigation {
		display: none;
	}
	.nav__desktop {
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 7em;
		z-index: 100;
		transition: background-color 0.7s;

		// background-color: rgb(180, 22, 22);
		&-item {
			margin: 0.5rem;
			font-size: 1.6rem;
			padding: 1.5rem 1.25rem;
			text-decoration: none;
			color: #ffffff;
			&:last-child {
				margin-right: 2em;
			}

			&:hover {
				color: rgb(170, 170, 170);
			}
		}
	}
	.logo {
		font-size: 4rem;
		margin-right: 5rem;

		.fa-bowling-ball {
			color: #f5f0f0;
			padding: 0.5em;
		}
		.fa-bowling-ball:hover {
			color: #333;
		}
	}
	.show-bgc {
		background-color: #e0455f;
		background-image: linear-gradient(147deg, #ef271b 0%, #007ea7 80%);
	}

	.header {
		.hero-text {
			h1 {
				font-size: 4rem;
				text-transform: uppercase;
				margin-bottom: 0.5em;
			}
			p {
				font-size: 2.2rem;
			}
		}
	}
	// main
	.section-title {
		padding-top: 9rem;
		font-size: 4rem;
		margin-top: 2rem;
	}
	// o nas

	.aboudus {
		.aboudus-bgc {
			border-radius: 15px;
			// background-color: rgba(255, 255, 255, 0.432);
		}
		&__box {
			font-size: 2rem;
		}
		&__box2 {
			&-tittle {
				font-size: 2.5rem;
			}
			&-card1 {
				&-img1 {
					height: 7em;
				}
			}
			&-card2 {
				&-img2 {
					height: 7em;
				}
			}
		}
		&__cardbox {
			margin-top: 6em;
			&-card {
				&-tittle {
					font-size: 2.1rem;
				}

				&-text {
					font-size: 1.6rem;
				}

				.fas {
					font-size: 2.3rem;
				}
			}
		}
		&__photobox {
			
			width: 100%;
			
			&-photo {
				
				img {
					border-radius: 50%;
				}
			}
			&-tittle {
				font-size: 1.7rem;

				.name {
					font-size: 2.3rem;
				}
			}
		}
	}

	// home
	.header {
		.hero-img {
			background-image: url("../img/headingduza.jpg");
			background-position: 100%;
			height: 100vh;
		}
	}
	.arrangements {
		padding: 1.5rem;
		&__boxs {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			padding: 1rem;

			&-box {
				text-align: center;
				position: relative;
				width: 48%;
				height: 40rem;
				background-color: rgb(224, 224, 224);
				border-radius: 15px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-bottom: 2rem;
				margin-left: 1.5rem;
				transition: height 0.4s;
				background: linear-gradient(145deg, #007ea7, #262322);
				box-shadow: 15px 15px 26px #808080, -15px -15px 26px #eadeda;

				&-icon {
					position: absolute;
					top: -15px;
					right: -15px;
					// padding: 2rem;
					font-size: 3rem;
					// color: #ef271b;
					padding: 1.5rem;
					z-index: 100;
					cursor: pointer;
				}

				&-title {
					opacity: 1;
					// color: #ec0b43;
					transition: opacity 0.5s, transform 0.5s;
					font-size: 2rem;
				}
				&-card {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					padding: 1em;
					transition: opacity 0.5s, transform 0.5s;
					display: flex;
					align-items: center;
					flex-direction: column;
					justify-content: center;
					transform: scale(0);
					text-align: left;

					&-info {
						font-size: 1.4rem;
						margin-bottom: 0.7rem;
						text-align: center;
					}
					&-list {
						padding: 2rem;
						font-size: 1.3rem;
						text-align: left;
						// list-style: none;
					}
				}
			}
			&-box--two {
				// height: 60rem;
			}
			&-box--three {
				// height: 25rem;
			}
		}
	}

	.show-card {
		opacity: 1;
		transform: scale(1);
	}

	.hidden {
		opacity: 0;
		transform: scale(0);
	}
}

// Kompiuter WIDOK


@media (min-width: 1200px) {
	.nav__desktop {
		justify-content: flex-end;
		z-index: 999;
	}

	.show-bgc {
		background-color: #e0455f;
	}

	.logo {
		left: 1.2em;
	}
	.section-title {
		padding-top: 7rem;
		margin-top: 7rem;
	}

	.aboudus {
		&__box {
			font-size: 1.3rem;
		}
		&__box2 {
			&-tittle {
				font-size: 2rem;
			}
		}

		&__cardbox {
			&-card {
				&-tittle {
					font-size: 2.2rem;
					margin-bottom: 0.7em;
				}

				&-text {
					font-size: 2rem;
					margin-bottom: 0.7em;
				}

				.fas {
					font-size: 2.5rem;
					margin-bottom: 0.7em;
				}
			}
		}
		.team {
			font-size: 3.2rem;
		}

		&__photobox {
			width: 100%;
			margin-bottom: 2em;
			height: 15rem;
			justify-content: center;
			flex-wrap: wrap;

			&-photo {
				display: flex;
				width: 30%;
				height: 90%;
				margin: 1em;
				background-color: rgb(224, 224, 224);
				border-radius: 40px;
				border-top-left-radius: 50%;
				border-bottom-left-radius: 50%;
				margin-left: 2rem;
			
				img {
					// top: 0;
					width: 30%;
					height: 12rem;
					border-radius: 50%;
					margin-left: 0;
					min-width: 12rem;
					
					
				}
			}
			&-tittle {
				text-align: center;
				display: flex;
				flex-direction: column;
				justify-content: center;
				font-size: 1.2rem;
				
				
				

				.name {
					color: rgb(214, 22, 64);
					font-size: 2rem;
				}
			}
		}
	}
	.contact__box {
		height: 30em;
		width: 30em;
		right: 50px;

		&-tittle {
			margin-bottom: 1em;
			color: rgb(214, 22, 64);
			font-size: 2.2rem;
		}

		&-phone {
			padding: 0.5em;
			font-size: 2rem;
			margin-bottom: 1em;
		}
		&-email {
			font-size: 2rem;
			margin-bottom: 1em;
		}
	}
	.contact-button {
		position: fixed;
		right: 50px;
		cursor: pointer;

		i {
			position: relative;
			font-size: 6rem;
			color: rgb(214, 22, 64);
			cursor: pointer;
		}
	}
	.show {
		transform: translate(0) scale(1);
	}
	.accessories {
		&__info {
			&-text {
				font-size: 1.3rem;

				&-contakt {
					font-size: 1.5rem;
				}
				.fa-facebook {
					font-size: 5rem;
				}
			}
		}
		&__img {
			&-boxs {
				img {
					height: 40rem;
				}
			}
		}
	}
	.arrangements {
		padding: 1.5rem;
		&__boxs {
			display: flex;
			flex-direction: row;
			justify-content: center;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-around;
			padding: 1rem;
			background-image: linear-gradient(
					90deg,
					rgba(224, 220, 220, 0.75),
					rgba(12, 12, 12, 0.438)
				),
				url(../img/pneumatyczny.jpg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			background-color: #bdd4e7;
			border-radius: 15px;

			&-box {
				margin: 1em;
				width: 33%;
				height: 35rem;

				margin-bottom: 2rem;
				
				box-shadow: 15px 15px 26px #050505, -15px -15px 26px #ffffff00;

				&-icon {
					position: absolute;
					top: 5px;
					right: 5px;
					// padding: 2rem;
					font-size: 3rem;
					// color: rgb(214, 22, 64);
					pointer-events: none;
				}

				&-title {
					opacity: 1;
					// color: rgb(214, 22, 64);
					transition: opacity 0.5s, transform 0.5s;
				}
				&-card {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					padding: 1em;
					transition: opacity 0.5s, transform 0.5s;
					display: flex;
					align-items: center;
					flex-direction: column;
					justify-content: center;
					transform: scale(0);

					&-info {
						font-size: 1.3rem;
						margin-bottom: 0.7rem;
					}
					&-list {
						font-size: 1.3rem;
						text-align: left;
						list-style: none;
					}
				}
			}

			&-box--move:hover .arrangements__boxs-box-card {
				opacity: 1;
				transform: scale(1);
			}

			&-box--move:hover .arrangements__boxs-box-title {
				opacity: 0;
				transform: scale(0);
			}

			&-box--two:hover {
				height: 50rem;
			}
		}
	}
	.planning {
		padding: 1.5rem;
		&__box {
			height: 140rem;
			position: relative;
			&-text {
				font-size: 1.4rem;
			}

			&-middle {
				position: absolute;
				margin-top: 1rem;
				margin-bottom: 1rem;
				top: 50%;
				left: 50%;

				z-index: -1;
				img {
					// position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					min-width: 60%;
					width: 80%;
				}
			}

			&-finances {
				position: absolute;
				top: 20rem;
				right: 27rem;
				height: 25rem;
				width: 30%;
				overflow: visible;
				

				&-info {
					position: relative;

					&-text {
						font-size: 1.4rem;
					}
					&-photo {
						opacity: 0;
						position: absolute;
						width: 100%;
						height: 22rem;
						z-index: -1;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
						transform: translateX(0);
						transition: transform 0.4s, opacity 0.6s;
					}
					.fa-arrow-right {
						display: block;
						position: absolute;
						font-size: 2rem;
						right: 0;
						bottom: -5rem;
						transition: transform 0.3s;
						padding: 1.5rem;
						cursor: pointer;
						color: #ef271b;
					}
				}
			}

			&-planning {
				position: absolute;
				top: 30rem;
				left: 5rem;
				height: 25rem;
				width: 30%;
				overflow: visible;

				&-info {
					position: relative;

					&-text {
						font-size: 1.4rem;
					}
					&-photo {
						opacity: 0;
						position: absolute;
						width: 100%;
						height: 22rem;
						z-index: -1;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
						transform: translateX(0);
						transition: transform 0.4s, opacity 0.6s;
					}
					.fa-arrow-down {
						display: block;
						position: absolute;
						font-size: 2rem;
						left: 0;
						bottom: 0;
						transition: transform 0.3s;
						padding: 1.5rem;
						cursor: pointer;
						color: #ef271b;
					}
				}
			}

			&-lanes {
				position: absolute;
				top: 50rem;
				right: -5rem;
				height: 32rem;
				width: 30%;
				overflow: visible;
				

				&-info {
					position: relative;
					

					&-text {
						font-size: 1.4rem;
						z-index: 5;
						
						a {
							z-index: 5;
						}
					}
					&-photo {
						opacity: 0;
						position: absolute;
						width: 100%;
						height: 20rem;
						z-index: -1;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
						transform: translateX(0);
						transition: transform 0.4s, opacity 0.6s;
					}
					.fa-arrow-down {
						display: block;
						position: absolute;
						font-size: 2rem;
						right: 0;
						bottom: -1rem;
						transition: transform 0.3s;
						padding: 1.5rem;
						cursor: pointer;
						z-index: 6;
						color: #ef271b;
					}
				}
			}

			&-arrangements {
				position: absolute;
				bottom: 5rem;
				right: 20rem;
				height: 38rem;
				width: 30%;
				overflow: visible;

				&-info {
					position: relative;

					&-text {
						font-size: 1.4rem;
					}
					&-photo {
						opacity: 0;
						position: absolute;
						width: 100%;
						height: 35rem;
						z-index: -1;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
						transform: translateX(0);
						transition: transform 0.4s, opacity 0.6s;
					}
					.fa-arrow-right {
						display: block;
						position: absolute;
						font-size: 2rem;
						right: 0;
						bottom: -1rem;
						transition: transform 0.3s;
						padding: 1.5rem;
						cursor: pointer;
						color: #ef271b;
					}
				}
			}

			&-equipment {
				position: absolute;
				bottom: 25rem;
				left: 0rem;
				height: 25rem;
				width: 30%;
				overflow: visible;

				&-info {
					position: relative;

					&-text {
						font-size: 1.4rem;
					}
					&-photo {
						opacity: 0;
						position: absolute;
						width: 100%;
						height: 25rem;
						z-index: -1;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
						transform: translateX(0);
						transition: transform 0.4s, opacity 0.6s;
					}
					.fa-arrow-down {
						display: block;
						position: absolute;
						font-size: 2rem;
						left: 0;
						bottom: -1.5rem;
						transition: transform 0.3s;
						padding: 1.5rem;
						cursor: pointer;
						color: #ef271b;
					}
				}
			}
		}
		.pdf {
			font-size: 2rem;
			text-align: center;
			color: #ec0b43;
		}
		.planning__box-download {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	.arrow-rotate {
		transform: rotate(180deg);
	}

	.show-photo1 {
		opacity: 1;
		transform: translateY(250px) translateX(-100px);
	}
	.show-photo2 {
		opacity: 1;
		transform: translateX(370px);
	}
	.show-photo3 {
		opacity: 1;
		transform: translateY(320px) translateX(150px);
	}
	.show-photo4 {
		opacity: 1;
		transform: translateX(380px);
	}
	.show-photo5 {
		opacity: 1;
		transform: translateY(250px);
	}
	svg {
		display: block;
		margin: -1rem;
	}

	.galleryPhoto {
		
		padding: 1.5rem;
		margin-top: 0;
		height: 100%;
		background-color: #485461;
		background-image: linear-gradient(340deg, #a7bbd1 0%, #28313b 74%);
		border-radius: 15px;

		.section-title-gallery{
			color: #ef271b;
		}

		&__btn-box {
			&-button {
				display: none;
			}
		}

		&__box {
			position: relative;
			display: grid;
			grid-template-columns: 3fr repeat(3, 2fr);
			grid-row: repeat(12, 2fr);
			gap: 1rem;
			&-item {
				position: relative;
				width: 100%;
				top: 0;
				left: 0;
				right: 0;
				height: 300px;
				border-radius: 15px;
				margin-bottom: 1rem;
				transition: transform 0.4s;
			}
			.show-photo1 {
				position: relative;
			}
			&-item:hover {
				transform: scale(1.5);
				z-index: 3;
			}
		}
	}
}

@media (min-width: 1361px) {
	.nav__desktop {
		justify-content: center;
	}
	.logo {
		left: 3em;
	}

	// main
	.section-title {
		padding-top: 8rem;
		font-size: 4rem;
		margin-top: 4rem;
	}

	.aboudus {
		&__box {
			font-size: 1.5rem;
		}
		&__box2 {
			&-tittle {
				font-size: 2rem;
			}
		}

		&__cardbox {
			&-card {
				&-tittle {
					font-size: 2rem;
					margin-bottom: 0.7em;
				}

				&-text {
					font-size: 1.3rem;
					margin-bottom: 0.7em;
				}

				.fas {
					font-size: 2rem;
					margin-bottom: 0.7em;
				}
			}
		}
	}
}

@media (min-width: 1847px) {
	.contact-button {
		position: fixed;
		bottom: 10px;
		left: 85%;
	}
	.contact__box {
		position: fixed;
		bottom: 40px;
		left: 80%;

		height: 30em;
		width: 30em;
	}
}
