@media (min-width: 768px) {
	// nav hamvurger
	.hamburger--active {
		transform: translatex(40em);
	}
	.hamburger__box {
		width: 60px;
		height: 50px;
	}

	.hamburger__inner::before {
		top: -15px;
	}

	.hamburger__inner::after {
		top: 15px;
	}
	.hamburger--active .hamburger__inner:before {
		transform: translateY(15px) rotate(45deg);
	}

	.hamburger--active .hamburger__inner:after {
		transform: translateY(-15px) rotate(-45deg);
	}

	.navigation {
		align-items: center;
		&__list {
			display: flex;
			justify-content: center;
			align-content: center;
			flex-direction: column;
			margin-top: 12em;
			margin-left: 0;
			align-items: center;
			&-item {
				margin-top: 0em;

				margin-bottom: 6em;
				a {
					padding: 1em 2em;
					font-size: 3rem;
				}
			}
		}
	}
	.contact__box {
		height: 45em;
		width: 45em;
		right: 20px;

		&-tittle {
			margin-bottom: 2em;
			color: rgb(214, 22, 64);
			font-size: 2.5rem;
		}

		&-phone {
			font-size: 2rem;
			margin-bottom: 3.2em;
		}
		&-email {
			font-size: 2rem;
			margin-bottom: 1.2em;
		}
	}
	.contact-button {
		i {
			font-size: 7rem;
			padding: 0.25em;
		}
	}

	// main
	.section-title {
		font-size: 3.5rem;
	}
	// o nas
	.aboudus {
		&__box {
			font-size: 1.75rem;
		}
		&__box2 {
			padding: 1.2em;
			flex-direction: row;
			justify-content: space-between;

			&-card1 {
				display: flex;
				flex-direction: column;
				justify-content: center;
				width: 50%;
				padding-left: 2em;
			}
			&-card2 {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 50%;

				&-img2 {
					height: 5rem;
				}
			}
		}
		&__cardbox {
			flex-direction: row;
			flex-wrap: wrap;

			&-card {
				width: 33%;
			}
		}
		&__photobox {
			&-photo {
				width: 50%;
				margin: 1em;
				img {
					height: 70%;
				}
			}
			&-tittle {
				font-size: 1.75rem;

				.name {
					color: rgb(214, 22, 64);
					font-size: 1.85rem;
				}
			}
		}
		.team {
			margin-top: 1.5em;
			font-size: 3rem;
		}

		&__photobox {
			margin-bottom: 2em;
			&-photo {
				display: flex;
				width: 100%;
				margin: 1em;
				background-color: rgb(224, 224, 224);
				border-radius: 40px;
				border-top-left-radius: 45%;
				border-bottom-left-radius: 45%;

				img {
					width: 50%;
					height: 100%;
					border-radius: 50%;
				}
			}
			&-tittle {
				text-align: center;
				display: flex;
				flex-direction: column;
				justify-content: center;
				font-size: 1.2rem;
				// background-color: #e0e0e0;

				.name {
					color: rgb(214, 22, 64);
					font-size: 2rem;
				}
			}
		}
	}
	.track {
		margin: 1.2rem;
		&__box {
			&-text {
				&-tittle {
					font-size: 1.8rem;
				}

				&-info {
					font-size: 1.6rem;
				}
				&-link {
					a {
						margin: 1.6rem;
					}
				}
			}
		}
		&__tittle {
			margin: 3.5rem 0;
		}
	}

	.accessories {
		&__info {
			&-text {
				font-size: 1.4rem;

				&-contakt {
					font-size: 1.7rem;
				}
				.fa-facebook {
					font-size: 5rem;
				}
			}
		}
		&__img {
			&-boxs {
				img {
					height: 30rem;
				}
			}
		}
	}
	.arrangements {
		&__boxs {
			display: flex;
			flex-direction: row;
			justify-content: center;
			flex-wrap: wrap;
			align-items: center;

			&-box {
				height: 30rem;
				border-radius: 40px;

				&-icon {
					position: absolute;
					top: -5px;
					right: -5px;
					// padding: 2rem;
					font-size: 3rem;
					color: rgb(214, 22, 64);
					padding: 2rem;
					z-index: 100;
				}

				&-title {
					opacity: 1;
					color: rgb(214, 22, 64);
					transition: opacity 0.5s, transform 0.5s;
					font-size: 2rem;
				}
				&-card {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					padding: 1em;
					transition: opacity 0.5s, transform 0.5s;
					display: flex;
					align-items: center;
					flex-direction: column;
					justify-content: center;
					transform: scale(0);
					text-align: left;

					&-info {
						font-size: 1.6rem;
						margin-bottom: 0.7rem;
					}
					&-list {
						padding: 2rem;
						font-size: 1.5rem;
						text-align: left;
						// list-style: none;
					}
				}
			}
			&-box--two {
				height: 40rem;
			}
			&-box--three {
				height: 25rem;
			}
		}
	}
	.show-card {
		opacity: 1;
		transform: scale(1);
		border-radius: 15px;
	}

	.hidden {
		opacity: 0;
		transform: scale(0);
	}

	.planning {
		&__box {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			&-text {
				font-size: 1.4rem;
			}
			&-planning,
			&-lanes,
			&-finances,
			&-arrangements,
			&-equipment {
				width: 45%;
				margin-right: 2rem;

				&-info {
					
					&-tittle {
						padding: 2rem;
						
					}
					&-text {
						
						font-size: 1.6rem;
						
					}
				}
			}
			&-download {
				position: relative;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: flex-start;
				margin-top: 2rem;

				a {
					display: flex;
					justify-content: center;
					align-items: center;
					margin: 1rem;
					text-decoration: none;
					font-size: 1.5rem;
					padding: 10px 20px;
					width: 22%;
					border: 1px solid black;
					border-radius: 40px;
					height: 5rem;
					text-align: center;
				}

				a:before {
					display: none;
				}

				a:hover, a:focus {
					background-color: #ec0b43;
					color: #fff;
				}
			}
		}
		.pdf{
			margin-top: 2rem;
		}
	}
}
